<!DOCTYPE html>
<html lang="en" ng-app="tunely">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tunely</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js"></script>
    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to tunely</h1>
        <p>Your music binder!</p>
      </div>
    </div>
    <div class="container" ng-controller="AlbumsIndexController as albumsIndexCtrl">
      <p><b>Album:</b> {{albumsIndexCtrl.newAlbum.name}}</p>
      <p><b>Artist Name:</b> {{albumsIndexCtrl.newAlbum.artistName}}</p>

  <!--html inside of here can use the information from the AlbumsIndexController-->
  <label for="name">Searchy by Album Name:</label>
  <input type="text" class="form-control" placeholder="New album name" ng-model="search.name">
  <label for="artistName">Searchy by Artist Name:</label>
  <input type="text" class="form-control" placeholder="New album artist" ng-model="search.artistName">

  <div ng-repeat="album in albumsIndexCtrl.albums | filter:search | orderBy:'+artistName'">
    <div class="thumbnail">
      <input ng-show="editing" ng-model="album.artistName" type="text" class="form-control input-md">
      <input ng-show="editing" ng-model="album.name" type="text" class="form-control input-md">
      <h2 ng-hide="editing">{{album.artistName}}</h2>
      <p ng-hide="editing">{{album.name}} </p>
      <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Album</button>
      <button class='btn btn-success' ng-show="editing" ng-click="albumsIndexCtrl.editAlbum(album); editing = false">Save Changes</button>
      <button class='btn btn-danger' ng-click="albumsIndexCtrl.deleteAlbum(album)">Delete Album</button>
    </div>
  </div>
  <hr>
    <form ng-submit="albumsIndexCtrl.createAlbum()">
      <div class="form-group">
        <label for="name">Create a new Album Name</label>
        <input type="text" class="form-control" id="newAlbum"  ng-model="albumsIndexCtrl.newAlbum.name" placeholder="Add your album">
      </div>
      <div class="form-group">
        <label for="artistName">Artist Name</label>
        <input type="text" class="form-control" id="newAlbum" ng-model="albumsIndexCtrl.newAlbum.artistName" placeholder="Put in your artist!" value="">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

  </body>

</html>
